 # **Tools for Data Science**

## **Introduction**

**List of data science languages**:

R \
Python \
SQL \
Java \
Scala \
C++ \
JavaScript \
Julia

**List of data science libraries**:

Python:
Pandas
NumPy
SciPy
Matplotlib

R:
dplyr
ggplot2
tidyr
shiny
lubridate

SQL:
PostgreSQL
MySQL
Apache Spark
   
Julia:
JuilasDB
Flux.jl
DataFrames.jl
Query.jl
 
 
Java:
Weka
Java-ML
Apache MLlib
Deeplearning4


Scala:
Shark
MLlib
GraphX
Spark Streaming



JavaScript:
TensorFlow.js
R-js

| Languages | Tools | 
| --- | --- | 
| Python |Pandas, NumPy, SciPy, Matplotlib | 
|R|dplyr, ggplot2, tidyr, shiny, lubridate|
|Python| Pandas, NumPy, SciPy, Matplotlib|
|R| dplyr, ggplot2, tidyr, shiny, lubridate|
|SQL| PostgreSQL, MySQL, Apache, Spark|
|Julia| JuilasDB, Flux.jl, DataFrames.jl, Query.jl|
|Java| Weka, Java-ML, Apache MLlib, Deeplearning4|
|Scala| Shark MLlib, GraphX, Spark Streaming|
|JavaScript| TensorFlow.js, R-js|

 ## **Introducing arithmetic expression examples**

In [19]:
## Addition and multiplication operation   5+3*7
5+3*7

26

In [20]:
##  convert minutes to hours
hour = 8 
print(hour, "hours represents", hour * 60, "minutes")

8 hours represents 480 minutes

 ##  **List Objectives**:

Passionate to learn data science and looking forward 
finding a good job

**Author's name**: Kader Geraldo